[submodule "arsenal"]
	path = arsenal
	url = https://github.com/mitre-atlas/arsenal.git
[submodule "caldera"]
	path = caldera
	url = https://github.com/mitre/caldera.git
[submodule "almanac"]
	path = almanac
	url = https://github.com/mitre-atlas/almanac.git
[submodule "ml-vulhub"]
	path = ml-vulhub
	url = https://github.com/mitre-atlas/ml-vulhub.git
